@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{ 
    <form id="logout" asp-controller="Account" role="form" asp-action="Logout">
        <input type="submit" value="Logout" class="logout" />
    </form>
    <br />
}

<fieldset>
    @*<h2>Welcome @User.Claims.FirstOrDefault(x => x.Type == "name").Value!</h2>*@
    <br />
    @*@foreach(var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }*@
</fieldset>
